In [1]:
from readpaf import parse_paf
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import marimo as mo

In [2]:
handle = open('simple_test_gt.paf')
df = parse_paf(handle, dataframe=True)

In [5]:
def plot_corr(f):
    handle = open(f)
    df = parse_paf(handle, dataframe=True)

    plt.xlim(0.5, 0.9)
    plt.ylim(0.5, 0.9)
    plt.scatter(df.gt_J + np.random.normal(0, 0.01, size=len(df.gt_J)),
                df.gt_C + np.random.normal(0, 0.01, size=len(df.gt_C)),
                alpha=0.1)
    plt.xlabel('gt_J')
    plt.ylabel('gt_C')
    plt.show()

# get a subset of columns of df
df2 = df[['J', 'J2', 'gt_J', 'gt_C', 'gt_C_bucket']]
display(df2)

          J     J2   gt_J   gt_C  gt_C_bucket
0     0.738 -1.000  0.587  0.738        0.738
1     0.785  0.785  0.669  0.785        0.785
2     0.759 -1.000  0.625  0.759        0.759
3     0.786 -1.000  0.619  0.786        0.786
4     0.810 -1.000  0.670  0.810        0.810
...     ...    ...    ...    ...          ...
6236  0.773  0.773  0.642  0.773        0.773
6237  0.739  0.734  0.569  0.739        0.739
6238  0.809 -1.000  0.700  0.809        0.809
6239  0.801  0.801  0.648  0.801        0.801
6240  0.780  0.774  0.670  0.780        0.780

[6241 rows x 5 columns]

In [4]:
import ipywidgets
import jscatter
import numpy as np
import pandas as pd

df_sample = pd.DataFrame({
  # Random floats
  "mass": np.random.rand(500),
  "speed": np.random.rand(500),
  "pval": np.random.rand(500),
  # Random letters A, B, C, D, E, F, G, H
  "cat": np.vectorize(lambda x: chr(65 + round(x * 8)))(np.random.rand(500)),
})

scatter = jscatter.Scatter(data=df, x="gt_J", y="gt_C")

output = ipywidgets.Output()

@output.capture(clear_output=True)
def selection_change_handler(change):
    #display(df.loc[change.new].style.hide(axis='index'))
            
scatter.widget.observe(selection_change_handler, names=["selection"])

ipywidgets.HBox([scatter.show(), output])

IndentationError: expected an indented block after function definition on line 20 (3927678376.py, line 23)